<div ng-controller="InventoryController" class="new-inventory-modal" data-ix="hidden" style="opacity: 1; display: block; transition: opacity 200ms;">
  <div class="openinv-wrapper">
    <div class="div-block"><a class="close-button w-inline-block" data-ix="coseaddnewversion" href="#/settings/6"><img src="../images/Close-Icon.png" width="12"></a></div>
    <div>Create New Inventory Version</div>
    <div class="w-clearfix w-form">
      <form class="modal-form">
        <div class="modal-field-wrapper">
          <label class="modal-field-label">Start Year</label>
          <input class="modal-fields w-input" ng-model="inventory.in_start_date" type="date">
        </div>
        <div class="modal-field-wrapper">
          <label class="modal-field-label">End year</label>
          <input class="modal-fields w-input" ng-model="inventory.in_end_date" type="date">
        </div>
        <div class="modal-field-wrapper">
          <label class="modal-field-label">Version Name</label>
          <input class="modal-fields w-input" ng-model="inventory.in_name" type="text">
        </div>
        <div class="modal-field-wrapper">
          <label class="modal-field-label">Notes</label>
          <input class="modal-fields w-input" ng-model="inventory.in_inventory_desc" type="text">
        </div>
      </form>
      <div class="action-button-group">
        <a class="modal-form-cancel w-button" href="#/settings/6">Cancel</a>
        <a class="modal-form-confirm w-button" ng-click="save()">Save</a>
      </div>
    </div>
  </div>
</div>
