<div ng-controller="SectorController" class="add-category new-inventory-modal" data-ix="hidden" style="opacity: 1; display: block; transition: opacity 200ms;">
    <div class="openinv-wrapper">
      <div class="div-block"><a class="close-button w-inline-block" data-ix="close-add-category" href="#/settings/"><img src="../images/Close-Icon.png" width="12"></a></div>
      <div class="dialog-header">Add IPCC Sector</div>
      <div class="w-form">
        <form class="modal-form w-clearfix">
          <div class="modal-field-wrapper">
            <label class="modal-field-label">Sector Short Code</label>
            <input class="modal-fields w-input" ng-model="sector.se_name_short_code" type="text">
          </div>
          <div class="modal-field-wrapper">
            <label class="modal-field-label">Sector Name</label>
            <input class="modal-fields w-input" ng-model="sector.se_name" type="text">
          </div>
          <div class="modal-field-wrapper">
            <label class="modal-field-label">Sector Description</label>
            <input class="modal-fields w-input" ng-model="sector.se_description" type="text">
          </div>
          <div class="action-button-group">
            <a class="modal-form-cancel w-button" ng-click= "closeAndBack()" href="#">Cancel</a>
            <a class="modal-form-confirm w-button" ng-click= "addSector()" >Add</a>
          </div>
        </form>
      </div>
    </div>
  </div>
