<div class="new-inventory-modal" data-ix="hidden">
  <div class="openinv-wrapper">
    <div class="div-block"><a class="close-button w-inline-block" data-ix="coseaddnewversion" href="#"><img src="../images/Close-Icon.png" width="12"></a></div>
    <div>Create New Inventory Version</div>
    <div class="w-clearfix w-form">
      <form class="modal-form" data-name="Email Form" data-redirect="/settings/inventory-settings-open" id="email-form" name="email-form" redirect="/settings/inventory-settings-open">
        <div class="modal-field-wrapper"><label class="modal-field-label" for="Begin">Start Year</label><input class="modal-fields w-input" data-name="Begin" id="Begin" maxlength="256" name="Begin" placeholder="Y Y Y Y" type="text"></div>
        <div class="modal-field-wrapper"><label class="modal-field-label" for="End">End year</label><input class="modal-fields w-input" data-name="End" id="End" maxlength="256" name="End" placeholder="Y Y Y Y" type="text"></div>
        <div class="modal-field-wrapper"><label class="modal-field-label" for="Version">Version Name</label><input class="modal-fields w-input" data-name="Version" id="Version" maxlength="256" name="Version" type="text"></div>
      </form>
      <div class="action-button-group"><a class="modal-form-cancel w-button" data-ix="coseaddnewversion" href="#">Cancel</a><a class="modal-form-confirm w-button" href="../settings/inventory-settings-open.html">Create</a></div>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form</div>
      </div>
    </div>
  </div>
</div>
