<div ng-controller="ActivityController" class="add-activity" data-ix="hidden" style="opacity: 1; display: block; transition: opacity 200ms;">
    <div class="openinv-wrapper">
      <div class="div-block"><a class="close-button w-inline-block" data-ix="close-add-act" href="#/settings/2"><img src="../images/Close-Icon.png" width="12"></a></div>
      <div class="dialog-header" ng-if="!activity._id">Add Local Activity</div>
      <div class="dialog-header" ng-if="activity._id">Edit Local Activity</div>
      <div class="w-form">
        <form class="modal-form w-clearfix">
          <div class="modal-field-wrapper">
            <label class="modal-field-label">IPCC Activity</label>
            <select ng-model="activity.ica_activity" ng-change="ipccSelected()" class="modal-fields w-select">
              <option ng-repeat="act in ipcc_activities" value="{{act._id}}">{{act.iac_name}}</option>
            </select>
          </div>  
          <div class="modal-field-wrapper">
            <label class="modal-field-label">Activity Name</label>
            <input class="modal-fields w-input" ng-model="activity.ac_name" type="text">
          </div>
          <div class="modal-field-wrapper">
            <label class="modal-field-label">Activity Description</label>
            <input class="modal-fields w-input" ng-model="activity.ac_description" type="text">
          </div>
          <div class="action-button-group">
            <a class="modal-form-cancel w-button" href="#/settings/2">Cancel</a>
            <a class="modal-form-confirm w-button" ng-click="addActivity()" >Save</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>
