<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Sun Jul 23 2017 17:25:00 GMT+0000 (UTC)  -->
<html data-wf-page="59650c39378df201d2756020" data-wf-site="58546d00fc56e7e469080828">

<head>
  <meta charset="utf-8">
  <title>Inventory Settings [FTUX]</title>
  <meta content="Inventory Settings [FTUX]" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../stylesheets/normalize.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/webflow.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/quarrio.webflow.css" rel="stylesheet" type="text/css">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>

<body class="body" ng-app="undp-ghg-v2">

  <!-- Sidebar of the application -->
  <div ng-include src="'/partials/navigation/sidebar.html'"></div>

  <!-- This is the right panel -->
  <ng-view></ng-view>
  <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/webflow.js" type="text/javascript"></script>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>

  <script src="/javascripts/app.js" type="text/javascript"></script>
  <script src="/javascripts/controller/navigation.js" type="text/javascript"></script>
  <script src="/javascripts/controller/inventory.js" type="text/javascript"></script>
  <script src="/javascripts/controller/gas.js" type="text/javascript"></script>
  <script src="/javascripts/controller/sector.js" type="text/javascript"></script>
  <script src="/javascripts/controller/category.js" type="text/javascript"></script>
  <script src="/javascripts/controller/admin-user.js" type="text/javascript"></script>
  <script src="/javascripts/services/ghg-api.js" type="text/javascript"></script>
</body>

</html>
