<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Sun Jul 23 2017 17:25:00 GMT+0000 (UTC)  -->
<html data-wf-page="595bb65503737e35022cf701" data-wf-site="58546d00fc56e7e469080828">

<head>
  <meta charset="utf-8">
  <title>undp-ghg</title>
  <meta content="undp-ghg" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="stylesheets/normalize.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/webflow.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/quarrio.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
</head>

<body class="body">
  <div class="bodyflex">
    <div class="content w-row">
      <div class="headercol w-col w-col-3"><img class="image-2" height="22" src="images/jm_icon.png">
        <div class="text-block-3"><strong>JAMAICA<br></strong>Greenhouse<br>Gas Inventory</div>
      </div>
      <div class="contentcol w-col w-col-9">
        <div class="w-form">
          <form id="login-form" action="/login" method="post">
            <div class="form-flex"><img class="field-icon" src="images/Mail-Icon.png" width="20">
              <div class="altflex"><label class="fieldlabel" data-ix="hidden" for="Email-2">Email</label><input class="text-field w-input" data-ix="showlabel" data-name="Email" id="Email-2" maxlength="256" name="username" placeholder="Email" type="email"></div>
            </div>
            <div class="form-flex password"><img class="field-icon" src="images/Password-Icon.png" width="20">
              <div class="altflex">
                <label class="fieldlabel" data-ix="hidden" for="Password">Password</label>
                <input class="text-field w-input" data-ix="showlabel" data-name="Password" id="Password" name="password" placeholder="Password" type="password">
              </div>
            </div>
            <br/>
            <!-- <div class="form-flex passwordhelp">
              <div class="checkbox-field w-checkbox"><input class="checkbox w-checkbox-input" data-name="Keep Me Logged In 2" id="Keep-me-logged-in-2" name="Keep-me-logged-in-2" type="checkbox"><label class="field-label w-form-label" for="Keep-me-logged-in-2">Keep me logged in</label></div>
            </div> -->
            <div class="button-flex w-clearfix"><a class="newaccount-button w-button"
              href="user-flow/registration">Create New Account</a><a class="login submit-button w-button"
              href="javascript:{}" onclick="document.getElementById('login-form').submit();">Log In</a></div>
            <!-- <div class="button-flex"><a class="help-link" href="forgot-password.html">Forgot your password?</a></div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>
