<div ng-controller="CalcController" class="inventory-holder">
    <h1 class="heading">Manage Calculations</h1>
    <select ng-change="inventoryChanged()" ng-model="selectedInventory">
        <option ng-repeat="inventory in inventories" value="{{inventory._id}}">{{inventory.in_inventory_desc}} ({{inventory.in_start_date | date:'longDate'}} - {{inventory.in_end_date | date: 'longDate'}})</option>
    </select>
    <select ng-change="sectorChanged()" ng-model="selectedSector">
        <option ng-repeat="sector in sectors" value="{{sector._id}}">{{sector.se_name}}</option>
    </select>
    <div class="horizline"></div>

    <div ng-show="isAvailable">
        <!--<a class="smaller add-category-button w-inline-block" data-ix="add-category-modal" ng-click="getAllEF(selectedInventory, selectedSector)">
            <div>Load Emission Factors</div>
        </a>-->
        <button class="smaller add-category-button w-inline-block" ng-class="{red: changesAvailable}" data-ix="add-category-modal"
                ng-click="saveCalculations()" ng-disabled="!changesAvailable">
            <div>Save Calculations</div>
        </button>
    </div>
    <br />

    <div ng-if="activity_data.length>0 && emission_factors">
        <div ng-model="activity_data">
            <table ng-repeat="item in activity_data" ng-if="item.issues.length == 0" class="calculation-table">
                <col width="5%">
                <col width="45%">
                <col width="10%">
                <col width="20%">
                <col width="10%">
                <col width="10%">
                <tr>
                    <th></th>
                    <th>Activity Data / Emission Factors</th>
                    <th>Variable Value</th>
                    <th>Emission Estimate</th>
                    <th>Unit</th>
                    <th>Uncertainty</th>
                </tr>
                <tr>
                    <th></th>
                    <th>AD - {{item.ca_category.ca_code_name}} - {{item.ac_activity.ac_name}}</th>
                    <th><b>{{item.da_data_value}}</b></th>
                    <th></th>
                    <th><b>{{item.un_unit.un_unit_symbol}}</b></th>
                    <th></th>
                </tr>
                <tr calc-item ng-if="subItem.issues.length==0"
                    ng-repeat="subItem in getAssociatedInfo(item, emission_factors)"
                    sub-item="subItem" activity="item" selected="false" units="units"
                    calc-callback="calculationEntries(arg1,arg2)"></tr>
            </table>
        </div>
    </div>
</div>