<div ng-controller="CalcController" class="inventory-holder">
  <h1 class="heading">Manage Calculations</h1>
  <select ng-change="inventoryChanged()" ng-model="selectedInventory">
    <option ng-repeat="inventory in inventories" value="{{inventory._id}}">{{inventory.in_inventory_desc}} ({{inventory.in_start_date | date:'longDate'}} - {{inventory.in_end_date | date: 'longDate'}})</option>
  </select>
  <select ng-change="sectorChanged()" ng-model="selectedSector">
    <option ng-repeat="sector in sectors" value="{{sector._id}}">{{sector.se_name}}</option>
  </select>
  <div class="horizline"></div>

  <div ng-show="isAvailable">
    <a class="smaller add-category-button w-inline-block" data-ix="add-category-modal" ng-click="startUploader()">
      <div>Add Calculations</div>
    </a>
  </div>
  <br />
  <md-card ng-show="isAvailable" flex>
    
  </md-card>

  <md-card flex>
    <div ui-grid="dataGridOptions" ui-grid-edit ui-grid-exporter ui-grid-selection ui-grid-row-edit ui-grid-cellnav class="table-grid">
    </div>
  </md-card>
</div>