.table-grid {
  width: 100%;
  height: 90%;
}

.flex {
  display: flex;
}

.flexible {
  display: flex;
}

.w-submenu {
  display: inline;
  font-size: small;
}

.w-action {
  position: relative;
  float: right;
}
