<tr>
    <td><input type="checkbox" ng-model="iselected.item" ng-change="calculate()" /></td>
    <td>{{subItem.ac_activity.ac_name}} - {{subItem.ca_category.ca_code_name}} - {{subItem.ga_gas.ga_gas_name}}</td>
    <td>
        <span>(EF: {{subItem.da_data_value}} {{subItem.un_unit.un_unit_symbol}})</span>
    </td>
    <td><span ng-show="iselected.item">{{calculatedValue}}</span></td>
    <td>
        <select ng-model="unit.unit" ng-change="unitChange()" style="margin-left: 5px;">
            <option ng-repeat="unit in units" value="{{unit._id}}">
                {{unit.un_unit_symbol}}</option>
        </select>
    </td>
    <td>
        <span>({{subItem.da_uncertainty_max}} / {{subItem.da_uncertainty_min}} uncertainty)</span>
    </td>
</tr>