<div id="data-inventory-issues">
    <h3 ng-if="selectedRow.issues==undefined || selectedRow.issues.length==0" style="text-align: center; color: #e3e3e3;">
        There are no issues for this record
    </h3>
    <md-list>

        <md-list-item ng-repeat="(index1, issue) in selectedRow.issues" class="md-2-line contact-item">
            <div class="md-list-item-text compact">

                <div ng-if="issue.type==='mismatch'">
                    <h4>Mismatch Error Message</h4>
                    <br/>
                    <h4>{{issue.name}} Not Found</h4>
                    <p style="color: red;">{{issue.description}}</p>
                    <br/>
                    <p>Please select one of the possible matches below, and then click Save to Database.
                        If there is no appropriate match, please add the category in the Settings module, and try again.
                    </p>
                    <br/>
                    <div>Possible Matches for {{issue.problem}}:</div>
                    <md-list-item id="noborder" ng-repeat="match in possibleMatches(issue.problem, issue.name)"
                        ng-click="setMatch(issue.name, match, selectedRow, index1)"
                                  ng-if="issue.problem">
                        <div class="md-list-item-text compact" layout="column" ng-if="issue.name==='Category'">
                            <h3>({{match.ica_category.ica_code}})</h3>
                            <p>{{match.ca_code_name}}</p>
                        </div>
                        <div class="md-list-item-text compact" layout="column" ng-if="issue.name==='Activity'">
                            <h3>({{match.ac_name}})</h3>
                            <p>{{match.ac_description}}</p>
                        </div>
                        <div class="md-list-item-text compact" layout="column" ng-if="issue.name==='Unit'">
                            <h3>({{match.un_unit_name}})</h3>
                            <p>{{match.un_unit_symbol}}</p>
                        </div>
                        <div class="md-list-item-text compact" layout="column" ng-if="issue.name==='Gas'">
                            <h3>({{match.ga_gas_name}})</h3>
                            <p>{{match.ga_chem_formula}}</p>
                        </div>
                        <div class="md-list-item-text compact" layout="column" ng-if="issue.name==='Gas'">
                            <h3>({{match.re_region_name}})</h3>
                            <p>{{match.re_region_desc}}</p>
                        </div>
                    </md-list-item>

                    <div id="noborder" ng-if="issue.problem===''">
                        <select ng-options="cat as cat.ca_code_name for cat in categories"
                                ng-change="setMatch(issue.name, c, selectedRow, index1)"
                                ng-if="issue.name==='Category'"
                                ng-model="c"></select>
                        <select ng-options="act as act.ac_name for act in activities"
                                ng-change="setMatch(issue.name, a, selectedRow, index1)"
                                ng-if="issue.name==='Activity'"
                                ng-model="a"></select>
                        <select ng-options="unit as unit.un_unit_name for unit in units"
                                ng-change="setMatch(issue.name, u, selectedRow, index1)"
                                ng-if="issue.name==='Unit'"
                                ng-model="u"></select>
                        <select ng-options="gas as gas.ga_gas_name for gas in gases"
                                ng-change="setMatch(issue.name, g, selectedRow, index1)"
                                ng-if="issue.name==='Gas'"
                                ng-model="g"></select>
                        <select ng-options="reg as reg.re_region_name for reg in regions"
                                ng-change="setMatch(issue.name, r, selectedRow, index1)"
                                ng-if="issue.name==='Region'"
                                ng-model="r"></select>
                    </div>
                </div>

                <div ng-if="issue.type==='overwrite'">
                    <h4>Overwrite Error Message</h4>
                    <button style="border: 1px solid #909090; margin: 10px 0px;" ng-click="showcompare = !showcompare">
                        <span ng-show="!showcompare">Show Record Comparison</span>
                        <span ng-show="showcompare">Hide Record Comparison</span>
                    </button>
                    <table ng-show="showcompare" bordercolor="#e3e3e3" border="1">
                        <tr>
                            <th></th>
                            <th>New Record</th>
                            <th>Saved Record</th>
                        </tr>
                        <tr>
                            <td>Variable Type</td>
                            <td>{{selectedRow.conflict.da_variable_type}}</td>
                            <td>{{selectedRow.da_variable_type}}</td>
                        </tr>
                        <tr>
                            <td>Category Name</td>
                            <td>{{selectedRow.conflict.ca_category.ca_code_name}}</td>
                            <td>{{selectedRow.ca_category.ca_code_name}}</td>
                        </tr>
                        <tr>
                            <td>Activity</td>
                            <td>{{selectedRow.conflict.ac_activity.ac_name}}</td>
                            <td>{{selectedRow.ac_activity.ac_name}}</td>
                        </tr>
                        <tr>
                            <td>Variable Value</td>
                            <td>{{selectedRow.conflict.da_data_value}}</td>
                            <td>{{selectedRow.da_data_value}}</td>
                        </tr>
                        <tr>
                            <td>Unit</td>
                            <td>{{selectedRow.conflict.un_unit.un_unit_symbol}}</td>
                            <td>{{selectedRow.un_unit.un_unit_symbol}}</td>
                        </tr>
                        <tr>
                            <td>Category Name</td>
                            <td>{{selectedRow.conflict.ca_category.ca_code_name}}</td>
                            <td>{{selectedRow.ca_category.ca_code_name}}</td>
                        </tr>
                        <tr>
                            <td>Associated Gas</td>
                            <td>{{selectedRow.conflict.ga_chem_formula}}</td>
                            <td>{{selectedRow.ga_chem_formula}}</td>
                        </tr>
                        <tr>
                            <td>Uncertainty (Min)</td>
                            <td>{{selectedRow.conflict.da_uncertainty_min}}</td>
                            <td>{{selectedRow.da_uncertainty_min}}</td>
                        </tr>
                        <tr>
                            <td>Uncertainty (Max)</td>
                            <td>{{selectedRow.conflict.da_uncertainty_max}}</td>
                            <td>{{selectedRow.da_uncertainty_max}}</td>
                        </tr>
                        <tr>
                            <td>Notation Key</td>
                            <td>{{selectedRow.conflict.nk_name}}</td>
                            <td>{{selectedRow.nk_name}}</td>
                        </tr>
                        <tr>
                            <td>Region</td>
                            <td>{{selectedRow.conflict.re_region_name}}</td>
                            <td>{{selectedRow.re_region_name}}</td>
                        </tr>
                        <tr>
                            <td>Notes</td>
                            <td>{{selectedRow.conflict.notes}}</td>
                            <td>{{selectedRow.notes}}</td>
                        </tr>
                        <tr style="text-align: center;">
                            <td></td>
                            <td>
                                <button style="border: 1px solid #909090; font-size: 10px;" ng-click="saveNewRecord()">
                                    Save New
                                </button>
                            </td>
                            <td>
                                <button style="border: 1px solid #909090; font-size: 10px;" ng-click="keepOldRecord()">
                                    Keep Old
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </md-list-item>

    </md-list>
</div>