<div ng-controller="DataController" class="inventory-holder">
  <h1 class="heading">Inventory Data</h1>
  <select ng-change="inventoryChanged()" ng-model="selectedInventory">
    <option ng-repeat="inventory in inventories" value="{{inventory._id}}">{{inventory.in_inventory_desc}} ({{inventory.in_start_date | date:'longDate'}} - {{inventory.in_end_date | date: 'longDate'}})</option>
  </select>
  <div class="horizline"></div>

  <div ng-show="isAvailable">
    <a class="smaller add-category-button w-inline-block" data-ix="add-category-modal" ng-click="toggleRight()">
      <div>Manage Supporting Files</div>
    </a>

    <a class="smaller add-category-button w-inline-block" data-ix="add-category-modal" ng-click="startUploader()">
      <div>Upload Variables</div>
    </a>

    <a class="smaller add-category-button w-inline-block" ng-class="{red: dirtyRowsExist}" ng-click="persist()" data-ix="add-category-modal">
      <div>Persist to Database</div>
    </a>
  </div>
  <br />

  <!-- <div class="ftux-alert">No inventories have been created yet.<br><br> Create the first version of the inventory to start collecting and reporting data.</div> -->
  <div ui-grid="dataGridOptions" ui-grid-importer ui-grid-edit ui-grid-exporter ui-grid-selection ui-grid-row-edit ui-grid-cellnav class="table-grid">
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-disable-backdrop md-component-id="right">

      <md-toolbar class="md-theme-dark">
        <h1 class="md-toolbar-tools">Issues and Notes</h1>
      </md-toolbar>
      <md-content layout-padding>

        {{selectedRow.entity | json}}

      </md-content>

    </md-sidenav>
</div>
