<div ng-controller="InventoryController" class="inventory-holder">
  <h1 class="heading">Inventory Control</h1>
  <div class="horizline"></div>
  <div class="w-tabs" data-duration-in="300" data-duration-out="100">
    <div class="w-tab-menu">
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(4) }" ng-click="setTab(4)">
        <div>Sectors</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(1) }" ng-click="setTab(1)">
        <div>Categories</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(2) }" ng-click="setTab(2)">
        <div>Activities</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(3) }" ng-click="setTab(3)">
        <div>Gases</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(7) }" ng-click="setTab(7)">
        <div>Units</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(8) }" ng-click="setTab(8)">
        <div>Notation Keys</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(9) }" ng-click="setTab(9)">
        <div>Regions</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(6) }" ng-click="setTab(6)">
        <div>Inventory</div>
      </a>
      <a class="inventorytabs w-inline-block w-tab-link" ng-class="{ 'w--current': isSet(5) }" ng-click="setTab(5)">
        <div>Users</div>
      </a>
    </div>
    <!-- Category Information -->
    <div class="tabs-content w-tab-content">
      <div class="setting-tab-pane w--tab-active w-tab-pane" ng-class="{ 'w--tab-active': isSet(1) }" ng-show="isSet(1)">
        <br />
        <a class="add-category-button w-inline-block w-action" href="#/add/category/">
          <div>Add Category</div>
        </a>
        <h3>Local Category</h3>
        <div ui-grid="categoryGridOptions" class="table-grid">
        </div>
        <h3>IPCC Category</h3>
        <div ui-grid="IpcccategoryGridOptions" class="table-grid">
        </div>
      </div>
      <!-- IPCC Activity -->
      <div class="setting-tab-pane w-tab-pane" ng-class="{ 'w--tab-active': isSet(2) }" ng-show="isSet(2)">
        <br/>
        <a class="add-category-button w-inline-block w-action" data-ix="add-activity-modal" href="#/add/activity">
          <div>Add Activity</div>
        </a>
        <h3>Local Activity</h3>
        <div ui-grid="activityGridOptions" class="table-grid">
        </div>
        <h3>IPCC Activity</h3>
        <div ui-grid="IpccActivityGridOptions" class="table-grid">
        </div>
      </div>
      <!-- Gas Settings -->
      <div class="setting-tab-pane w-tab-pane" ng-class="{ 'w--tab-active': isSet(3) }" ng-show="isSet(3)">
        <br />
        <a class="add-category-button w-inline-block" data-ix="add-gas-modal" href="#/add/gas/">
          <div>Add Gas</div>
        </a>
        <div ui-grid="gasGridOptions" class="table-grid">
        </div>
      </div>
      <!-- Sector Information -->
      <div class="setting-tab-pane w--tab-active w-tab-pane" ng-class="{ 'w--tab-active': isSet(4) }" ng-show="isSet(4)">
        <br />
        <a class="add-category-button w-inline-block" data-ix="add-category-modal" href="#/add/sector">
          <div>Add Sector</div>
        </a>
        <div ui-grid="sectorGridOptions" class="table-grid">
        </div>
      </div>
      <!-- User Information -->
      <div class="setting-tab-pane w--tab-active w-tab-pane" ng-class="{ 'w--tab-active': isSet(5) }" ng-show="isSet(5)">
        <br />
        <div ui-grid="userGridOptions" class="table-grid">
        </div>
      </div>
      <!-- Inventory Information -->
      <div class="setting-tab-pane w--tab-active w-tab-pane" ng-class="{ 'w--tab-active': isSet(6) }" ng-show="isSet(6)">
        <br />
        <a class="add-category-button w-inline-block" data-ix="add-category-modal" href="#/add/inventory">
          <div>Add Inventory Year</div>
        </a>
        <div ui-grid="inventoryGridOptions" class="table-grid">
        </div>
      </div>
      <!-- Unit Information -->
      <div class="setting-tab-pane w--tab-active w-tab-pane" ng-class="{ 'w--tab-active': isSet(7) }" ng-show="isSet(7)">
        <br/>
        <a class="add-category-button w-inline-block" data-ix="add-category-modal" href="#/add/unit">
          <div>Add Unit</div>
        </a>
        <br/>
        <div ui-grid="unitGridOptions" class="table-grid">
        </div>
      </div>
      <!-- Region Information -->
      <div class="setting-tab-pane w--tab-active w-tab-pane" ng-class="{ 'w--tab-active': isSet(9) }" ng-show="isSet(9)">
        <br/>
        <a class="add-category-button w-inline-block" data-ix="add-category-modal" href="#/add/region">
          <div>Add Region</div>
        </a>
        <br/>
        <div ui-grid="regionGridOptions" class="table-grid">
        </div>
      </div>
      <!-- Notation Key Information -->
      <div class="setting-tab-pane w--tab-active w-tab-pane" ng-class="{ 'w--tab-active': isSet(8) }" ng-show="isSet(8)">
        <br/>
        <a class="add-category-button w-inline-block" data-ix="add-category-modal" href="#/add/notation">
          <div>Add Notation Key</div>
        </a>
        <br/>
        <div ui-grid="notationKeyGridOptions" class="table-grid">
        </div>
      </div>
    </div>
  </div>
</div>
